<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424036570199-2bqeqru51bi019lcpp5hfa4lbkbds30s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424036570199-2bqeqru51bi019lcpp5hfa4lbkbds30s</string>
	<key>API_KEY</key>
	<string>AIzaSyD6q-xN9Zo2NUr0c-HST8JbjH2g1ib2ReY</string>
	<key>GCM_SENDER_ID</key>
	<string>424036570199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a55ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a55ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424036570199:ios:26874c74a53b44e1ffbf12</string>
</dict>
</plist>